#click-buttons{
	overflow:hidden;
}

.button:nth-child(4){
	margin-right:0;
}

.button{
	height:50px;
	/* border:1px solid #efefef; */
	background:#fff;
	margin:5px 0;
	float:left;
	/*border-radius:5px;*/
	border: 1px solid #ecf0f1;
	/* padding:px; */
	width:14.313em;
	margin-right:.5em;
	transition:background .5s, color .5s;
}

a.button{
	color:#999;
}

.button:hover{
	color:#fff;
	transition:background .5s, color .5s;
}

.button:hover.petrol{
	background:#f5d657;
}

.button:hover.kerosene{
	background:#5faee3;
}

.button:hover.lpg{
	background:#ea6153;
}

.button:hover.nepal{
	background:#ea6153;
}

.button:hover.india{
	background:#2ecc71;
}

.button .info{
	float:left;
	position:relative;
	top:50%;
	line-height:1em;
	margin:-.5em 0 0 15px; 
}

.button img{
	height:100%;
	float:left;
	/*border-radius:5px 0 0 5px;*/
	border-right:1px solid #fff;
	
}

img.lpg{
	background:#e74c3c;
}

img.petrol{
	background:#f1c40f;
}

img.kerosene{
	background:#3498db;
}

img.nepal{
	background:#ff3333;
}

img.india{
	background:#25a25a;
}

#downloads .button{
	width:50px;
	height:auto;
	position:relative;
}

#downloads .button img{
	width:100%;
	padding:10px;
	background:#a4c639;
	display:block;
}
