body{
	background:#fcfcfc;
	font-family:'Gudea', Arial;
	color:#333;
}

a, a:link, a:visited{
	color:#333;
	text-decoration:none;
}

.wrapper{
	margin:0 auto;
	width:960px;
	max-width:100%;
}

/*Header Styles */
#header{
	height:100px;
	background:#f5f5f5;
	border-bottom:1px solid #cfcfcf;
	position:fixed;
	max-width:100%;
	width:100%;
	z-index:100;
}

#logo{
	position:relative;
	top:20px;
	margin-left:10px;
	float:left;
}

	#logo img{
		height:70px;
	}
	
#title{
	margin-top:30px;
	float:left;
	padding:0 0 0 20px;
	font-weight:bold;
	text-transform:uppercase;
	position:relative;
	font-size:20px;
}

	#tagline{
		margin-top:3px;
		text-indent:10px;
		font-size:12px;
		font-style:italic;
		font-weight:normal;
		text-transform:none;
	}

/*Navigation Styles */
#navigation{
	float:right;
	line-height:99px;
	text-transform:uppercase;
}

#header li{
	margin:0 5px;
	float:left;
	transition:background .3s;
	position:relative;
}

#header li:hover{
	background:#ffad40;
	background:#B5C7DC;
	transition:background .3s;
}

#header li > a{
	padding:40px 10px;
}

#header li:hover a{
	color:#fff;
}

#header .active{
	position:relative;
	height:100px;
	background:#B5C7DC;
}

#header .active:after{
	content:' ';
	position:absolute;
	width:0;
	left:50%;
	top:100%;
	margin-left:-10px;
	border-top:10px solid #B5C7DC;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}

/*Main Body */
#main-content{
	position:relative;
	top:100px;
	max-width:100%;
	background:url(../images/bg.png) no-repeat fixed bottom 20px left 20px;
}

#main-content .wrapper{
	padding:10px;
}

#container{
	position:relative;
	background:#fff;
	border:1px solid #cfcfcf;
	float:left;
	width:700px;
	max-width:100%;
	margin:0 10px 10px 0;
}

#controls{
	width:220px;
	background:#fff;
	max-width:100%;
	float:left;
	padding:10px;
	position:relative;
	margin:0 10px 10px 0;
	border:1px solid #cfcfcf;
}

input[type="checkbox"] {
    display:none;
	*display:inline-block;
}

input[type="checkbox"] + label {
    cursor: hand;
	cursor: pointer;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
	margin:7px 10px;
    vertical-align:middle;
    background:url(../images/unchecked.png)no-repeat;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/checked.png) no-repeat;
}

input[type="button"]{
	border:0;
	border-bottom:4px solid #ccc;
	padding:7px;
	margin:10px;
	color:#333;
	height:40px;
}

input[type="button"]:active{
	border-bottom:2px solid #ccc;
}

h2.header:before{
	position:absolute;
	border-left:5px solid #B5C7DC;
	margin:-10px 0 0 -20px;
	padding:0;
	content:' ';
	height:100%;
}

h2.header{
	background:#f5f5f5;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	padding:10px;
	margin:10px 0;
	position:relative;
	box-shadow:1px 1px 3px #ccc;
}

#data-sets-body{
	margin:30px;
}


li > ol{
	margin-left:20px;
}

ol > .link{
	display:inline-block;
	margin:10px 10px 10px 10px;
}